@charset "UTF-8";

/*Шрифты*/

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*==================================*/

/* Иконочный шрифт */

@font-face {
  font-family: "icons";
  src: url(../fonts/icons.woff) format("woff"), url(../fonts/icons.woff2) format("woff2");
  font-display: swap;
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

[class^=icon-]::before,
[class*=icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-asx-font-smoothing: grasyscale;
}

[class^=icon-]::before,
[class*=icon-]::before {
  display: block;
}

.icon-send:before {
  content: "\e902";
}

.icon-arrow-right:before {
  content: "\e904";
}

.icon-tel:before {
  content: "\e906";
}

.icon-02:before {
  content: "\e907";
}

.icon-01:before {
  content: "\e908";
}

.icon-03:before {
  content: "\e909";
}

.icon-04:before {
  content: "\e90a";
}

/* Основные цвета*/

/*==================================*/

/*Метод image background (картинки в коде html, преобразованные в фоновое изображение)*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*==================================*/

/*Адаптивное css свойство*/

/*==================================*/

/*Переменные*/

/*==================================*/

/*Основная сетка*/

.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

/*==================================*/

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*==================================*/

/*Подключения*/

.header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 10px;
}

.header.scroll .header__wrapper {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: rgba(255, 255, 255, 0.8);
}

.header__row {
  min-height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.header__logo {
  font-weight: 700;
  position: relative;
  z-index: 1;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #000000;
  margin-right: 41px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.menu__link {
  color: #3a3a3a;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 500;
}

.menu__arrow {
  margin-left: 12px;
  background: none;
}

.menu__arrow.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__arrow svg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__sub-list {
  position: relative;
  background: rgb(29, 29, 29);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 15px 0;
  top: 10px;
}

.menu__sub-link {
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu__icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.menu__icon::after,
.menu__icon::before,
.menu__icon > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e89f71;
  right: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__icon::after {
  top: 0;
}

.menu__icon::before {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu__icon > span::after {
  bottom: 0;
}

.menu__icon.active::after,
.menu__icon.active::before,
.menu__icon.active > span::after {
  background: #fff;
}

.menu__icon.active > span::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__icon.active::before {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.menu__icon.active::after {
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
  top: 50%;
}

body.mobile .menu__item.active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: auto;
}

body.mobile .menu__item.active .menu__arrow svg {
  -webkit-transform: rotate(180deg) scale(1.5);
      -ms-transform: rotate(180deg) scale(1.5);
          transform: rotate(180deg) scale(1.5);
}

.search-form__icon {
  display: none;
  position: relative;
  background: none;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  fill: #262f56;
  margin-right: 15px;
}

.search-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  height: 45px;
  max-width: 473px;
}

.search-form__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  background: #fff;
}

.search-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  padding-right: 20px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header__item {
  margin-right: 36.5px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.actions-header__item:last-child {
  margin: 0px 0px 0px 0px;
}

.actions-header__item_heart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  fill: #262f56;
}

.actions-header__item_user {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  width: 40px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header__item_user img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-header__icon {
  position: relative;
  display: block;
}

.cart-header__icon svg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: #262f56;
}

.cart-header__icon span {
  position: absolute;
  top: -5px;
  right: -2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #e89f71;
  color: #fff;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.cart-list {
  position: absolute;
  min-width: 300px;
  overflow: auto;
  right: 0;
  max-height: 500px;
  top: 100%;
  padding: 10px 0;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e89f71;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}

.cart-list.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}

.cart-list__item {
  display: block;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.cart-list__image {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 0.5px solid rgb(107, 107, 107);
}

.cart-list__image .item-product__labels {
  display: none;
}

.cart-list__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-list__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-list__title {
  color: #000;
  font-weight: 700;
}

.cart-list__delete {
  font-size: 12px;
  color: red;
}

/*==================================*/

/*Общие параметры*/

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}

.text {
  padding-top: 150px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 125px;
  min-width: 0;
}

body {
  font-family: "Gilroy";
  font-weight: 400;
  color: #898989;
  font-size: 16px;
}

.title {
  color: #3a3a3a;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  font-size: 40px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #e89f71;
  padding: 0 40px;
  background: #fff;
  height: 48px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn_orange {
  background: #e89f71;
  color: #fff;
  border: 1px solid #e89f71;
}

.btn.hold {
  opacity: 0.3;
  cursor: none;
}

/*==================================*/

.main-slider {
  background: #fcf8f3;
}

.main-slider__container {
  position: relative;
  /*         &::after {
      content: "";
      position: absolute;
      width: 100vw;
      right: 376px;
      background: #f9f1e7;
      height: 100%;
  } */
}

.main-slider__body {
  position: relative;
  z-index: 2;
}

.main-slider__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.8387096774%;
          flex: 0 0 39.8387096774%;
  -ms-flex-item-align: start;
      align-self: start;
}

.main-slider__slider {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-main {
  padding: 60px;
  position: relative;
  z-index: 5;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(15.5px);
          backdrop-filter: blur(15.5px);
}

.content-main__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.content-main__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
  margin-bottom: 48px;
}

.content-main__button {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  height: 78px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e89f71;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-main__slide {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 553px;
  position: relative;
}

.slider-main__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-main__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-main .swiper-slide-active .slider-main__content {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.slider-main__content {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 294px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-backdrop-filter: blur(15.5px);
          backdrop-filter: blur(15.5px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}

.slider-main__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #3a3a3a;
  margin-bottom: 4px;
}

.slider-main__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.slider-main__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #3a3a3a;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.controrl-slider-main {
  padding-left: 32px;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.controrl-slider-main__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controrl-slider-main__dotts .swiper-pagination-bullet-active {
  border: 1px solid #e89f71;
}

.controrl-slider-main__dotts .swiper-pagination-bullet-active::after {
  content: "";
  background: #e89f71;
}

.controrl-slider-main__dotts span {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-right: 12px;
  display: inline-block;
  cursor: pointer;
}

.controrl-slider-main__dotts span::after {
  content: "";
  background: #d8d8d8;
  position: absolute;
  width: 11px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  height: 11px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrows-main-slider__arrow {
  background: #e89f71;
  opacity: 0.3;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows-main-slider__arrow:hover {
  background: #e76312;
}

.arrows-main-slider__arrow_prew {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 8px;
}

/*==================================*/

.benefits {
  padding: 88px 0;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.benefits__image {
  margin-right: 24px;
}

.benefits__image svg {
  width: 40px;
}

.benefits__label {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #3a3a3a;
  margin-bottom: 2px;
}

.benefits__text {
  font-weight: 500;
  line-height: 150%;
}

/*==================================*/

.products {
  padding-bottom: 44px;
  text-align: center;
}

.products__title {
  margin-bottom: 32px;
}

.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}

.products__item {
  padding: 0 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin-bottom: 32px;
  text-align: left;
}

.products__button {
  border: 1px solid #e89f71;
  padding: 0 80px;
}

.item-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-product__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-product__image {
  position: relative;
  padding-bottom: 109%;
}

.item-product__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-product__labels {
  position: absolute;
  top: 0px;
  padding: 24px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-product__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
}

.item-product__info:not(:last-child) {
  margin: 0px 7px 7px 0px;
}

.item-product__info_sale {
  background: #e97171;
}

.item-product__info_new {
  background: #2ec1ac;
}

.item-product__body {
  padding: 16px 16px 30px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4f5f7;
}

.item-product__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #3a3a3a;
}

.item-product__label {
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-product__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3a3a3a;
  margin-right: 16px;
}

.item-product__old-price {
  font-size: 16px;
  line-height: 150%;
  text-decoration-line: line-through;
  color: #b0b0b0;
}

body.mobile .item-product__body {
  padding-bottom: 15px;
}

body.mobile .hover-product {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
  background: none;
  padding: 0 0px;
}

body.mobile .hover-product__link {
  color: #000;
}

body.mobile .hover-product__link svg {
  stroke: #000;
}

body.mobile .hover-product__button {
  border: 1px solid #e89f71;
  margin-bottom: 15px;
}

.hover-product {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  opacity: 0;
  background: rgba(58, 58, 58, 0.72);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  padding: 30px 42px;
}

.hover-product__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.hover-product__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hover-product__link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hover-product__link svg {
  margin-right: 11px;
  fill: #fff;
  stroke: #fff;
}

.flyImage {
  opacity: 1;
  position: fixed;
  z-index: 100;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/*==================================*/

.rooms {
  background: #fcf8f3;
  margin-bottom: 44px;
  padding-top: 44px;
  padding-bottom: 44px;
}

.rooms__body {
  position: relative;
  z-index: 5;
  height: 100%;
  padding-bottom: 15px;
}

.rooms__title {
  text-align: left;
  margin-bottom: 8px;
}

.rooms__text {
  margin-bottom: 24px;
  line-height: 150%;
}

.rooms__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.slider-rooms {
  position: relative;
}

.slider-rooms__wrapper {
  display: -webkit-box;
}

.slider-rooms__slide {
  height: 582px;
  position: relative;
  overflow: hidden;
  z-index: 6;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.slider-rooms__image {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 83%;
  position: relative;
}

.slider-rooms__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-rooms__content {
  position: absolute;
  left: 24px;
  bottom: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.slider-rooms__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-slider-rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-slider-rooms__body {
  max-width: 240px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  padding: 32px;
}

.content-slider-rooms__label {
  margin-bottom: 8px;
}

.content-slider-rooms__title {
  font-weight: 600;
  line-height: 120%;
  color: #3a3a3a;
  font-size: 28px;
}

.content-slider-rooms__arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #e89f71;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.label-content-slider-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #616161;
  line-height: 150%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-content-slider-room__number {
  margin-right: 8px;
}

.label-content-slider-room__line {
  background: #616161;
  height: 1px;
  width: 27px;
  margin-right: 8px;
}

.arrows-slider-rooms__arrow {
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 10;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.arrows-slider-rooms__arrow_prew {
  left: 0;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.arrows-slider-rooms__arrow_next {
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

/*==================================*/

.tricks__title {
  margin-bottom: 32px;
}

.slider-tricks {
  position: relative;
  margin-bottom: 44px;
}

.slider-tricks::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  background: #fff;
}

.slider-tricks::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  background: rgb(255, 255, 255);
  z-index: 10;
}

.slider-tricks__wrapper {
  display: -webkit-box;
  margin-bottom: 44px;
}

.slider-tricks__slide {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-tricks__image {
  position: relative;
  padding-bottom: 65%;
  display: block;
  overflow: hidden;
}

.slider-tricks__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-tricks__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 16px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-tricks__title {
  font-weight: 600;
  max-width: 247px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 24px;
  line-height: 120%;
  color: #3a3a3a;
  margin-bottom: 8px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-tricks__text {
  max-width: 247px;
}

.slider-tricks__dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*==================================*/

.furniture {
  margin-bottom: 75px;
}

.furniture__label {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin: 0px 0px 0.4em 0px;
  color: #616161;
}

.furniture__title {
  margin: 0px 0px 0.8em 0px;
}

.furniture__body {
  position: relative;
}

.furniture__items {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.furniture__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -8px;
}

.furniture__column:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.furniture__row {
  display: inline-grid;
  padding: 0 8px;
  gap: 16px;
  grid-template-columns: auto;
  grid-auto-flow: column;
}

.furniture__row:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.row-furniture_left-top {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-furniture_left-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-furniture_center {
  display: block;
}

.row-furniture_right-top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row-furniture_right-bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row-furniture__item {
  display: block;
}

/*==================================*/

.footer {
  color: #616161;
  background: #fff;
}

.footer a {
  color: #616161;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__container {
  position: relative;
}

.footer__container::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  top: 0;
  left: 0;
  background: #d8d8d8;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 35px;
  margin: 0 -7px;
}

.footer__column {
  padding: 0 7px;
  margin-bottom: 15px;
}

.footer__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
}

.footer__column:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-footer__text {
  margin-bottom: 16px;
}

.info-footer__item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-footer__item svg {
  margin-right: 10px;
}

.label-footer {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2083333333/100%;
  color: #000000;
  display: inline-block;
  margin-bottom: 16px;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-footer__item {
  padding: 0 7px;
}

.menu-footer__list {
  display: block;
}

.menu-footer__list li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.submit-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit-footer__input {
  background: #f4f5f7;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
  max-width: 242px;
  padding-left: 12px;
}

.submit-footer__button {
  width: 45px;
  height: 45px;
  background: #e89f71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (min-width: 767.98px) {
  .header__search-form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-right: 20px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin-right: 43px;
    visibility: visible;
    opacity: 1;
  }

  .menu__list > li {
    margin-right: 44px;
    padding: 5px 0;
  }

  .menu__list > li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__sub-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    position: absolute;
    min-width: 100%;
    padding: 5px 0;
    background: rgb(29, 29, 29);
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    pointer-events: none;
  }

  .menu__sub-link:hover {
    background: #e89f71;
  }

  .menu__icon {
    display: none;
  }

  body.pc .menu__item:hover .menu__sub-list {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  body.pc .menu__item:hover .menu__arrow svg {
    fill: #e89f71;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  body.pc .menu__item:hover .menu__link {
    color: #e89f71;
  }

  body.mobile .menu__item.active .menu__arrow svg {
    fill: #e89f71;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  body.mobile .menu__item.active .menu__link {
    color: #e89f71;
  }

  .actions-header__item_heart:hover {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
    fill: red;
  }

  .actions-header__item_user:hover {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
  }

  .cart-header__icon:hover svg {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
    fill: #e89f71;
  }

  .cart-list__title:hover {
    text-decoration: underline;
  }

  .cart-list__delete:hover {
    text-decoration: underline;
  }

  .slider-rooms__slide {
    width: 372px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 372px;
            flex: 0 0 372px;
  }

  .slider-rooms .swiper-slide-active .slider-rooms__image {
    height: 100%;
  }

  .slider-rooms .swiper-slide-active .slider-rooms__content {
    opacity: 1;
  }

  .slider-tricks .slider-slide_active::after {
    content: "";
    background: rgba(97, 97, 97, 0.1);
    -webkit-filter: blur(20px);
            filter: blur(20px);
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    z-index: -1;
  }

  .footer a:hover {
    color: #e89f71;
  }

  .submit-footer__button:hover {
    color: rgb(194, 194, 194);
  }
}

@media (min-width: 992.98px) {
  .main-slider__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .rooms__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .rooms__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.5%;
            flex: 0 0 37.5%;
    -ms-flex-item-align: center;
        align-self: center;
    padding-right: 86px;
  }

  .rooms__slider {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .slider-rooms::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fcf8f3;
    -webkit-transform: translate(-101%, 0);
        -ms-transform: translate(-101%, 0);
            transform: translate(-101%, 0);
  }

  .slider-rooms__dots {
    position: absolute;
    bottom: 28px;
    left: 400px;
  }
}

@media (max-width: 1440px) {
  .title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 1120));
  }

  .hover-product__button {
    margin-bottom: calc(10px + 14 * ((100vw - 320px) / 1120));
  }

  .rooms {
    margin-bottom: calc(15px + 29 * ((100vw - 320px) / 1120));
  }

  .rooms {
    padding-top: calc(20px + 24 * ((100vw - 320px) / 1120));
  }

  .rooms {
    padding-bottom: calc(20px + 24 * ((100vw - 320px) / 1120));
  }

  .rooms__title {
    margin-bottom: calc(3px + 5 * ((100vw - 320px) / 1120));
  }

  .rooms__text {
    margin-bottom: calc(15px + 9 * ((100vw - 320px) / 1120));
  }

  .slider-rooms__slide {
    height: calc(250px + 332 * ((100vw - 320px) / 1120));
  }

  .slider-rooms__content {
    left: calc(10px + 14 * ((100vw - 320px) / 1120));
  }

  .slider-rooms__content {
    bottom: calc(10px + 14 * ((100vw - 320px) / 1120));
  }

  .content-slider-rooms__body {
    padding: calc(10px + 22 * ((100vw - 320px) / 1120));
  }

  .content-slider-rooms__label {
    margin-bottom: calc(2px + 6 * ((100vw - 320px) / 1120));
  }

  .content-slider-rooms__title {
    font-size: calc(18px + 10 * ((100vw - 320px) / 1120));
  }

  .content-slider-rooms__arrow {
    width: calc(25px + 23 * ((100vw - 320px) / 1120));
  }

  .content-slider-rooms__arrow {
    height: calc(25px + 23 * ((100vw - 320px) / 1120));
  }

  .label-content-slider-room__number {
    margin-right: calc(3px + 5 * ((100vw - 320px) / 1120));
  }

  .label-content-slider-room__line {
    margin-right: calc(3px + 5 * ((100vw - 320px) / 1120));
  }

  .arrows-slider-rooms__arrow {
    width: calc(25px + 23 * ((100vw - 320px) / 1120));
  }

  .arrows-slider-rooms__arrow {
    height: calc(25px + 23 * ((100vw - 320px) / 1120));
  }

  .tricks__title {
    margin-bottom: calc(15px + 17 * ((100vw - 320px) / 1120));
  }

  .slider-tricks {
    margin-bottom: calc(20px + 24 * ((100vw - 320px) / 1120));
  }

  .slider-tricks__wrapper {
    margin-bottom: calc(15px + 29 * ((100vw - 320px) / 1120));
  }

  .slider-tricks__content {
    padding: calc(5px + 11 * ((100vw - 320px) / 1120));
  }

  .slider-tricks__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  }

  .slider-tricks__title {
    margin-bottom: calc(2px + 6 * ((100vw - 320px) / 1120));
  }

  .furniture {
    margin-bottom: calc(30px + 45 * ((100vw - 320px) / 1120));
  }

  .furniture__label {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 1252px) {
  .container {
    max-width: 970px;
  }

  .actions-header__item {
    margin-right: 25px;
  }

  .content-main__title {
    font-size: 45px;
  }

  .benefits__image {
    margin-right: 15px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .header__row {
    min-height: 100px;
  }

  .header__logo {
    margin-right: 20px;
  }

  .menu__link {
    font-size: 14px;
  }

  .menu__arrow {
    margin-left: 5px;
  }

  .actions-header__item {
    margin-right: 15px;
  }

  .main {
    padding-top: 100px;
  }

  .content-main {
    padding: 0px;
  }

  .content-main__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .content-main__button {
    height: 60px;
    font-size: 18px;
  }

  .controrl-slider-main {
    height: 60px;
    padding-left: 0;
  }

  .benefits {
    padding: 40px 0;
  }

  .benefits__row {
    margin: 0 -5px;
  }

  .benefits__item {
    padding: 0 10px;
  }

  .benefits__image {
    margin-right: 10px;
  }

  .benefits__image svg {
    width: 30px;
  }

  .products__row {
    margin: 10px;
  }

  .products__item {
    padding: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }

  .slider-rooms__wrapper {
    margin-bottom: 15px;
  }

  .footer__row {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .footer__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }

  .label-footer {
    font-size: 20px;
  }

  .submit-footer__input {
    max-width: 200px;
    height: 40px;
  }

  .submit-footer__button {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 470px;
    padding: 0 10px;
  }

  .header {
    min-height: 1px;
  }

  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__row {
    min-height: 80px;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }

  .menu__body {
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #e89f71;
    padding: 0px 10px 50px 10px;
    overflow: auto;
  }

  .menu__body.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }

  .menu__body.active::after {
    left: 0;
    opacity: 1;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    opacity: 0;
    height: 80px;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    top: 0;
    left: -100%;
    background: #e89f71;
    z-index: 2;
  }

  .menu__body .menu__list {
    margin-top: 100px;
  }

  .menu__list > li {
    margin-bottom: 20px;
  }

  .menu__list > li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__link {
    font-size: 35px;
  }

  .menu__arrow {
    fill: #3a3a3a;
  }

  .menu__arrow svg {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .menu__sub-link {
    font-size: 25px;
    padding: 15px 10px;
  }

  .search-form__icon {
    display: block;
  }

  .search-form__item {
    position: absolute;
    bottom: -30px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 50%;
    -webkit-transform: translate(-50%, 20px);
        -ms-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
    min-width: 250px;
    max-width: 300px;
  }

  .search-form__item.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  .cart-list {
    width: 100%;
  }

  .main {
    padding-top: 80px;
  }

  .content-main__title {
    font-size: 35px;
  }

  .content-main__text {
    margin-bottom: 15px;
  }

  .content-main__button {
    height: 45px;
    font-size: 16px;
  }

  .slider-main__slide {
    height: 300px;
  }

  .slider-main__content {
    right: 20px;
    bottom: 20px;
  }

  .slider-main__title {
    font-size: 22px;
  }

  .slider-main__price {
    font-size: 18px;
  }

  .controrl-slider-main__dotts span {
    width: 20px;
    height: 20px;
  }

  .controrl-slider-main__dotts span::after {
    width: 8px;
    height: 8px;
  }

  .arrows-main-slider__arrow {
    width: 40px;
    height: 40px;
  }

  .benefits {
    padding: 20px 0px;
  }

  .benefits__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 7px;
  }

  .benefits__label {
    margin-bottom: 0;
  }

  .products {
    padding-bottom: 30px;
  }

  .products__title {
    margin-bottom: 20px;
  }

  .products__row {
    margin: 0 -8px;
  }

  .products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 8px;
  }

  .item-product__label {
    margin-bottom: 2px;
  }

  .slider-rooms__image {
    height: 100%;
  }

  .slider-rooms__content {
    opacity: 1;
  }

  .row-furniture__item {
    height: 150px;
    width: 150px;
    position: relative;
  }

  .row-furniture__item img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .footer__row {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .info-footer__text {
    margin-bottom: 10px;
  }

  .info-footer__item {
    margin-bottom: 10px;
  }

  .label-footer {
    margin-bottom: 10px;
  }

  .menu-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu-footer__list li:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .cart-list {
    right: -55px;
  }

  .content-main__title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .content-main__text {
    margin-bottom: 10px;
  }

  .content-main__button {
    height: 40px;
  }

  .slider-main__slide {
    height: 320px;
  }

  .slider-main__content {
    right: 8px;
    bottom: 8px;
    padding: 10px;
  }

  .slider-main__title {
    font-size: 18px;
  }

  .slider-main__text {
    font-size: 14px;
  }

  .products {
    padding-bottom: 20px;
  }

  .products__title {
    margin-bottom: 15px;
  }

  .products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .products__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .rooms__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .menu-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-footer__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 7px;
  }
}

@media (max-width: 400px) {
  .benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 767.98px) and (max-width: 992.98px) {
  .menu__list {
    margin-right: 20px;
  }

  .menu__list > li {
    margin-right: 15px;
  }
}

@media (min-width: 767.98px) and (max-width: 1252px) {
  .menu__list > li {
    margin-right: 25px;
  }
}

@media (min-width: 992.98px) and (max-width: 1440px) {
  .rooms__body {
    padding-right: calc(15px + 71 * ((100vw - 320px) / 1120));
  }
}

@media (any-hover: hover) {
  .header__wrapper:hover {
    background: rgba(255, 255, 255, 0.95);
  }

  .cart-list__item:hover {
    background: rgb(238, 238, 238);
  }

  .btn:hover {
    background: #e89f71;
    color: #fff;
  }

  .btn_orange:hover {
    background: #fff;
    color: #e89f71;
  }

  .content-main__button:hover {
    background: #e78344;
  }

  .slider-main__content:hover {
    background: rgba(255, 223, 163, 0.72);
  }

  .slider-main__content:hover .slider-main__price {
    margin-right: -5px;
  }

  .item-product__wrapper:hover .hover-product {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    visibility: visible;
    opacity: 1;
  }

  .hover-product__link:hover {
    text-decoration: underline;
  }

  .content-slider-rooms__arrow:hover {
    background: #e76312;
  }

  .arrows-slider-rooms__arrow:hover {
    background: rgb(255, 233, 191);
  }

  .slider-tricks__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .slider-tricks__title:hover {
    color: #e89f71;
  }

  .furniture__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .row-furniture__item img {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-filter: grayscale(0.9);
            filter: grayscale(0.9);
  }

  .row-furniture__item:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@media (any-hover: none) {
  .furniture__body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}